// ---------------------------------------------------------------------------
// Imports

@import "vendor/susy";
@include border-box-sizing;


// ---------------------------------------------------------------------------
// Basic Grid
// ---------------------------------------------------------------------------
$total-columns  : 5;              // a 12-column grid
$column-width   : 3.75em;            // each column is 4em wide
$gutter-width   : 1.25em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$mobile   			: 300px; // 320
$tablet7  			: 460px; // 480
$tablet10 			: 750px; // 768
$desktop  			: 960px; // 1024
$pcwide  				: 1260px;// 1280

$sm							: 320px;
$smart-p				: 480px;
$smart-l				: 640px;
$tablet-p				: 768px;
$medium					: 980px;
$tablet-l				: 1024px;
$containerWidth	: 1170px;
$lg							: 1220px;
$box-width			: 1360px;

// ---------------------------------------------------------------------------
// convert to em's for better compatibility
// ---------------------------------------------------------------------------
@function toEm($px-size, $base-size: 16px) {
  @return $px-size / $base-size * 1em;
}

// ---------------------------------------------------------------------------
// alternative layout breakpoints
// ---------------------------------------------------------------------------
$breakpoint-mobile   : toEm($mobile);
$breakpoint-tablet7  : toEm($tablet7) 6;
$breakpoint-tablet10 : toEm($tablet10) 8;
$breakpoint-desktop  : toEm($desktop) 12;
$breakpoint-pcwide 	 : toEm($pcwide) 14;

$break-box-width			: toEm($box-width);
$break-containerWidth	: toEm($containerWidth);
$break-tablet-l				: toEm($tablet-l);
$break-lg							: toEm($lg);
$break-tablet-p				: toEm($tablet-p);
$break-medium					: toEm($medium);
$break-smart-l				: toEm($smart-l);
$break-smart-p				: toEm($smart-p);
$break-sm							: toEm($sm);


// MObile
// Sony Xpreia z / z1 , 360x640 ratio 3
// Apple iPhone 3GS , 320x480 ratio 1
// Apple iPhone 4 / 4s , 320x480 ratio 1.5
// Apple iPhone 5 / 5s , 320x568 ratio 2
// Apple iPhone 6 , 375x664 ratio 2
// Apple iPhone 6+, 414x736 ratio 3

// Tablet
// Apple iPad 1 / 2 / Mini , 768x1024 ratio 1
// Apple iPad 3 / 4 , 768x1024 ratio 2
